:root {
    --mainBlack: #202020;
    --mainGrey: #4C4C4C;
    --mainWhite: #F4F4F4;
}

body {
    background: linear-gradient(90deg, rgba(76,76,76,1) 10%, rgba(244,244,244,1) 100%);
    font-family: 'Space Mono', monospace !important;
    background-size: cover;
}
a {
    text-decoration: none !important;
    color: var(--mainGrey) !important;
}
img {
    padding-top: 20px;
    height: 125px;
}
button {
    font-family: 'Space Mono', monospace !important;
    transition: transform 0.2s ease-in-out;
    border: 2px solid var(--mainWhite);
    background-color: transparent;
    color: var(--mainWhite);
    font-size: large;
    margin-bottom: 10px;
    height: 40px;
    width: 180px;
}
button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.linksContainer {
    border: 5px solid linear-gradient(90deg, rgba(76,76,76,1) 10%, rgba(244,244,244,1) 100%);
    background-color: var(--mainBlack);
    border-radius: 10px;
    padding: 25px;
}