:root {
    --mainBlack: #202020;
    --mainGrey: #4E4E4E;
    --mainWhite: #F4F4F4;
}

body {
    background-color: var(--mainBlack) !important;
    font-family: 'Space Mono', monospace !important;
    background-size: cover;
}
h2 {
    color: var(--mainWhite) !important;
}
p {
    color: var(--mainWhite);
}
a {
    text-decoration: none !important;
    color: var(--mainGrey) !important;
}
img {
    padding-top: 20px;
    height: 125px;
}
button {
    font-family: 'Space Mono', monospace !important;
    transition: transform 0.2s ease-in-out;
    border: 2px solid var(--mainWhite);
    background-color: transparent;
    color: var(--mainWhite);
    font-size: large;
    margin-bottom: 10px;
    height: 40px;
    width: 180px;
}
button:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.linksContainer {
    background-color: var(--mainGrey);
    border-radius: 10px;
    padding: 25px;
}